
#wb_header { height: 200px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1090px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 74px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: #ffffff url("../gallery_gen/ac708876147472e63f53238e18ca74b0.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1364px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1314px; overflow: visible; min-height: 1364px; }
#wb_element_instance0 { top: 83px; left: 720px; min-width: 470px; width: 470px; min-height: 36px; height: 36px; display: block; z-index: 370; }
#wb_element_instance0 > ul { display: block; }
#wb_element_instance0 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 20px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 0px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: underline; color: #ffffff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0 li.active > a { border: 2px none #ba37ba; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: underline; color: #b7a74e; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 50px; left: 10px; min-width: 60px; width: 60px; min-height: 100px; height: 100px; display: block; z-index: 165; overflow: hidden; }
#wb_element_instance1 img { width: 100px; height: 100px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance2 { top: 68px; left: 78px; min-width: 640px; width: 640px; min-height: 66px; height: 66px; display: block; z-index: 166; }
#wb_element_instance3 { top: 20px; left: 10px; min-width: 450px; width: 450px; min-height: 24px; height: 24px; display: block; z-index: 173; }
#wb_element_instance4 { top: 590px; left: 0px; min-width: 1200px; width: 1200px; min-height: 40px; height: 40px; display: block; z-index: 83; }
#wb_element_instance5 { top: 550px; left: 10px; min-width: 1180px; width: 1180px; min-height: 55px; height: 55px; display: block; z-index: 88; }
#wb_element_instance6 { top: 660px; left: 10px; min-width: 360px; width: 360px; min-height: 94px; height: 94px; display: block; z-index: 89; }
#wb_element_instance7 { top: 660px; left: 434px; min-width: 350px; width: 350px; min-height: 94px; height: 94px; display: block; z-index: 90; }
#wb_element_instance8 { top: 660px; left: 850px; min-width: 340px; width: 340px; min-height: 94px; height: 94px; display: block; z-index: 91; }
#wb_element_instance9 { top: 800px; left: 11px; min-width: 1180px; width: 1180px; min-height: 185px; height: 185px; display: block; z-index: 101; }
#wb_element_instance10 { top: 240px; left: 10px; min-width: 1180px; width: 1180px; min-height: 82px; height: 82px; display: block; z-index: 104; }
#wb_element_instance11 { top: 380px; left: 470px; min-width: 260px; width: 260px; min-height: 60px; height: 60px; display: block; z-index: 105; }
#wb_element_instance11 .wb_button { width: 260px; height: 60px; font-family: Helvetica,Arial,sans-serif; font-size: 18px; text-align: center; border: 2px solid #ffffff; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; background: #4f3d7d none repeat scroll left top; }
#wb_element_instance11 .wb_button > span { color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance11 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance11 .wb_button:hover { background: #3e3163 none repeat scroll left top; }
#wb_element_instance11 .wb_button:active > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance11 .wb_button:active { background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance12 { top: 20px; left: 0px; min-width: 1200px; width: 1200px; min-height: 193px; height: 193px; display: block; z-index: 106; }
#wb_element_instance13 { top: 530px; left: 0px; min-width: 1200px; width: 1200px; min-height: 460px; height: 460px; display: block; z-index: 82; }
#wb_element_instance13 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 460px; }
#wb_element_instance14 { top: 1010px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance15 { top: 64px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance4 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #d9d9d9;; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
