.li a{
    text-decoration: none;
}
.li a:hover{
    color: white;
}
.jj {
    text-align: center;
    color: #F4FA58;
    /*background-color: #0080FF;*/
    background-color: #848484;
    border: 0px;
    border-radius: 10px 10px;
}
.jj a{
    text-decoration: none;
}
.servicos img {
    text-align: center;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.social img {
    width: 50px;
}
.jumbotron{
    margin-top: 50px;
}

footer{
    text-align: center;
}footer a:hover {
    text-decoration: none;
}

.contato h3 {
    color: #2E9AFE;
    padding: 30px 0px 5px 0px;
}

.caduceu h3 {
    color: #2E9AFE;
}
.caduceu img {
    width: 250px;
}
.caduceu p {
    font-family: OCR A Std, monospace;
}
.caduceu h3 {
    font-family: Trebuchet MS, sans-serif;
}
.caduceu img {
    margin-left: 100px;
}


.emprestimo h3 {
    color: #2E9AFE;
    padding: 30px 0px 5px 0px;
}

.emprestimo h3 {
    color: #2E9AFE;
}
.emprestimo img {
    width: 250px;
}
.emprestimo p {
    font-family: OCR A Std, monospace;
}
.emprestimo h3 {
    font-family: Trebuchet MS, sans-serif;
}
img.cifrao {
    width: 60px;
}
img.emprestimo {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
.titulo_emprestimo {
    font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
}
img.bancos {
    width: 100%;
    height: 100%;
}


.clear {
    background: url(../img/separador_.png) no-repeat center;
}
.menu_sobre {
    position: fixed;
}
.sobre h3 {
    color: #2E9AFE;
    text-align: center;
}

.servicos a:hover{
    text-decoration: none;
}
.sobre a:hover{
    text-decoration: none;
}
.servicos img {
    width: 50px;
    margin: 5px 50px 20px 50px;
}